<div class="container mt-4">
  <h2>Agregar Movimiento</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="employee"
        class="form-label">Empleado</label>
      <select id="employee"
        class="form-select"
        [(ngModel)]="selectedEmployee"
        (change)="onEmployeeChange()"
        name="employee">
        <option value="">Seleccionar empleado...</option>
        <option *ngFor="let employee of employees"
          [value]="employee.id">{{ employee.nombre }}</option>
      </select>
    </div>
    <div class="row">
      <div class="mb-3 col-md-6">
        <label class="form-label">Número de Empleado</label>
        <input type="text"
          class="form-control"
          [value]="selectedEmployeeNumber"
          readonly
          name="employeeNumber">
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Rol</label>
        <input type="text"
          class="form-control"
          [value]="selectedEmployeeRole"
          readonly
          name="employeeRole">
      </div>
    </div>
    <div class="mb-3">
      <label for="month"
        class="form-label">Mes</label>
      <select id="month"
        class="form-select"
        [(ngModel)]="selectedMonth"
        name="month"
        required>
        <option value=""
          disabled>Seleccionar mes...</option>
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="hours"
        class="form-label">Entregas</label>
      <input type="number"
        id="hours"
        class="form-control"
        [(ngModel)]="entregas"
        name="hours"
        required>
    </div>
    <button type="submit"
      class="btn btn-primary">Guardar</button>
  </form>
</div>