<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Rinku App</title>
</head>

<body>

  <div class="container mt-5">
    <div class="card"
         *ngIf="location==='home'">
      <div class="card-header">
        <div class="card-title">Welcome!</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col m-5 p-5 btn btn-primary shadow-sm"
               (click)="location='add-employee'">
            <a>
              Añadir empleado +
            </a>
          </div>
          <div class="col m-5 p-5 btn btn-primary shadow-sm"
               (click)="location='update-employee'">
            <a>
              Añadir movimientos+
            </a>
          </div>
          <div class="col m-5 p-5 btn btn-primary shadow-sm"
               (click)="location='list-movs'">
            <a>
              Ver cálculos
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card"
         *ngIf="location==='add-employee'">
      <div class="card-header">
        <div class="card-title">Alta de empleadoos</div>
      </div>
      <div class="card-body">
        <form>
          <p>Hola</p>
          <p>Hola</p>
          <p>Hola</p>
        </form>

      </div>
      <div class="card-footer d-flex justify-content-end">
        <div class="btn btn-outline-secondary me-0"
             (click)="location='home'">Cancelar</div>
      </div>
    </div>
    <div class="card"
         *ngIf="location==='update-employee'">
      <div class="card-header">
        <div class="card-title">Actualizar empleado</div>
      </div>
      <div class="card-body">
        <form>

        </form>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <div class="btn btn-outline-secondary me-0"
             (click)="location='home'">Cancelar</div>
      </div>
    </div>
    <div class="card"
         *ngIf="location==='list-movs'">
      <div class="card-header">
        <div class="card-title">Calcular</div>
      </div>
      <div class="card-body">
        <form>

        </form>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <div class="btn btn-outline-secondary me-0"
             (click)="location='home'">Cancelar</div>
      </div>
    </div>
  </div>

</body>

</html>